body {
    background-color: #646464;
}

#background {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0.4) 55%, rgba(0, 0, 0, 0.4) 85%, rgba(0, 0, 0, 0.4) 100%), url(../images/portalPhoto.jpg) no-repeat 50% 50%/cover scroll;
    /* border-top: 4px solid rgb(144, 209, 187); */
    box-shadow: 0 -19vw 11vw -11vw #646464 inset;
    height: 500px;
    position: fixed;
    top: 0;
    width: 100%;
}

.header-bar {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0.4) 55%, rgba(0, 0, 0, 0.4) 85%, rgba(0, 0, 0, 0.4) 100%);
}

#header-bar-weather {
    margin-left: 0;
}

.weather-group {
    display: inline-block;
    height: 65px;
    max-height: 65px;
    width: 65px;
}

.weather-group:not(:first-child) {
    margin-left: 5px;
}

.weather-item {
    position: absolute;
    text-align: center;
}

.weather-item-location {
    display: block;
    margin-bottom: 3px;
}

.weather-item-location, .weather-item-details {
    font-size: .9em;
}

.weather-item-icon {
    color: rgb(255, 255, 255) !important;
    font-size: 1.25em;
}

.weather-item-details {
    margin-left: 3px;
}

/* System Status Cards */
#systemStatus .systemStatusCardContainer{
    margin-bottom: 5px;
    margin-top: 5px;
}

.systemStatusCard .card-title {
    font-size: 2rem;
}

.systemStatusCard .card-subtitle, .systemStatusCard .status {
    font-size: 1.25rem;
    border: 1px solid #000000;
    float: right;
    font-weight: bold;
    margin-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
}

.systemStatusCard.resolved .status {
    color: #155724;
    background-color: #D4EDDA;
    border-color: #C3E6CB;
}

.systemStatusCard.resolved .card-body {
    background: linear-gradient(.25turn, #D4EDDA 1.25%, #FFFFFF 1.25%);
}

.systemStatusCard.intermittent .status {
    color: #856404;
    background-color: #FFF3CD;
    border-color: #FFEEBA;
}

.systemStatusCard.intermittent .card-body {
    background: linear-gradient(.25turn, #FFF3CD 1.25%, #FFFFFF 1.25%);
}

.systemStatusCard .timestamp {
    margin-bottom: 0;
}

/* Pulsing Loader */
#loaderContainer {
    position: absolute;
    z-index: 1000;
}

.loader {
    color: rgb(228, 230, 231);
    font-size: 1.5em;
    width: 150px;
    height: 150px;
    line-height: 150px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    z-index: 0;
    text-transform: uppercase;
}

.loader:before,
.loader:after {
    opacity: 0;
    box-sizing: border-box;
    content: "\0020";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border: 5px solid rgba(110, 196, 232, .55);
    box-shadow: 0 0 50px rgb(110, 196, 232), inset 0 0 50px rgb(110, 196, 232);
}

.loader:after {
    z-index: 1;
    -webkit-animation: loader 3.25s infinite 3.25s;
}

.loader:before {
    z-index: 2;
    -webkit-animation: loader 3.25s infinite;
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

