# Created by .ignore support plugin (hsz.mobi)
### Windows template
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

.idea/deployment.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
PWADemo.iml
node_modules/idb/.npmignore
node_modules/idb/gulpfile.js
node_modules/idb/lib/idb.js
node_modules/idb/LICENSE
node_modules/idb/package.json
node_modules/idb/test/idb.js
node_modules/idb/yarn.lock
node_modules/idb/README.md
node_modules/idb/lib/idb.d.ts
node_modules/idb/test/index.html
